iframe[name="keyguard"],
iframe[name="network"] {
    display: none;
}

#nim_account_loading_block.hidden,
#nim_account_selector_block.hidden {
    display: none;
}

#customer_nim_address {
    padding: 0.6em 0.8em;
}
